<%- include('../include/head.ejs')%>
    <link rel="stylesheet" type="text/css" href="/css/vertical-layout-light/loginstyle.css">
    </head>

    <body>

        <div class="user">
            <header class="user__header">
                <i class="mdi mdi-food-fork-drink menu-icon" style="font-size: 3rem;color: #fff;"></i>
                <h1 class="user__title" style="font-size: 28px;">Canteen Management System</h1>
                <h1 class="user__title pt-3" style="font-size: 25px;">Login</h1>
            </header>
            <% if (errorMessage) { %>
                <div class="user-message user-message--error">
                    <%= errorMessage %>
                </div>
                <% } %>
                    <form class="form" action="/new-password" method="POST" novalidate>

                        <div class="form__group  d-flex" style="align-items: center;">
                            <input type="password" placeholder="Password" name="password"
                                value="<%= oldData.password %>"
                                id="password"
                                class="form__input <%= errors.find(e=>e.param === 'password')?'invalid' : '' %>" />
                                <i class="mdi mdi-eye" id="password-icon" style="position: absolute;right: 10px; font-size: 1.5rem;"></i>
                        </div>
                        <div class="form__group">
                            <input type="confirmPassword" placeholder="Confirm Password" name="confirmPassword"
                                value="<%= oldData.confirmPassword %>"
                                class="form__input <%= errors.find(e=>e.param === 'confirmPassword')?'invalid' : '' %>" autocomplete=""/>
                           
                        </div>
                        <input type="hidden" name='email'  value="<%= email %>" />
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

                        <button class="btn" type="submit">Change Password</button>
                    </form>

        </div>

        <%- include('../include/end.ejs')%>